<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visit Report Form</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  </head>
  <body>
    <p>This is the Visit Reports page for {{user.username}}.</p>
      <p><a href="/logout">Logout</a></p>
      <hr />
      <p>
        <ul>
          <li><a href="/dashboard">Dashboard</a></li>
        </ul>
      </p>
      <hr /> 
      <p>
        <a href="/visit-report">Back</a>
      </p>
      
    <h3>Visit Report</h3>
    <form id="visitReportForm" method="post" action="/visit-report/form">
      <br/>
      <label for="topic">Topic</label>
      <input type="text" id="topic" name="topic" maxlength="150">
      <br/>
      <label for="type">Type</label>
      <select id="type" name ="type">
        <option value="VideoCall">VideoCall</option>
        <option value="ExternalVisit">ExternalVisit</option>
        <option value="InternalVisit">InternalVisit</option>
        <option value="Expo">Expo</option>
      </select>
      <br/>

      <label for="startTime">Start Time:</label>
      <input type="datetime" id="startTime" name="startTime" placeholder="YYYY-MM-DD HH:mm:ss">
      <br/>
      <label for="endTime">End Time:</label>
      <input type="datetime" id="endTime" name="endTime" placeholder="YYYY-MM-DD HH:mm:ss">

      <br/>
      <label for = "outcome">Outcome</label>
      <select id="outcome" name ="outcome">
        <option value="Negative">Negative</option>
        <option value="Normal">Normal</option>
        <option value="Positive">Positive</option>
        <option value="VeryPositive">Very Positive</option>
      </select>

      <br/>
      <label for="notes">Notes</label>
      <input type="text" id="notes" name="notes" maxlength="300">    

      <br/>
      <label for="followUp">Follow Up</label>
      <input type="text" id="followUp" name="followUp" maxlength="300">    

      <br/>
      <label for="primaryContact">Primary Contact</label>
      <input type="text" id="primaryContact" name="primaryContact">  

      <br/>
      <label for="attendees">Additional Contact</label>
      <input type="text" id="attendees" name="attendees" placeholder="Marie Schmitt, Bob Vance">    
      
      <br/>
      <button type="submit">Submit</button>
    </form>
    </p>
    <script>
      $("#visitReportForm").on('submit', function(e){
        e.preventDefault();
        const formData = getFormData();
        console.log(formData);
        $.ajax({
          url:"/visit-report/form",
          method: "POST",
          data:formData,
          success: function(response){
            if(response.error == true){
              alert(response.errors);
            }else{
              window.location.href = response.redirectUrl;
            }
          }
        });
        /*const submissionResponse = await fetch("/visit-report/form",{
          method: "POST",
          body: formData,
          redirect:"manual"
        });
        const responseBody = await submissionResponse.json();
        */
      });

      function getFormData(){
        return {
          topic: $("#topic").val(),
          type: $("#type").val(),
          startTime: $("#startTime").val(),
          endTime: $("#endTime").val(),
          outcome: $("#outcome").val(),
          notes: $("#notes").val(),
          followUp: $("#followUp").val(),
          primaryContact: $("#primaryContact").val(),
          attendees: $("#attendees").val()
        }
      }
    </script>
  </body>
</html>