<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visit Report Form</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href='../CSS/style.css' rel='stylesheet' />  
  </head>
  <body>
    {{> header}}  
    <div class="main-content" >
      <h3>Visit Report</h3>
      <form id="visitReportForm" method="post" action="/visit-report/form">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="topic">Topic</label>
              <input type="text" id="topic" class="form-control" name="topic" maxlength="150">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="primaryContact">Primary Contact</label>
              <input type="text" id="primaryContact"  class="form-control" name="primaryContact">  
            </div>
          </div>
          <div class="w-100"></div>
          <div class="col">
            <div class="form-group">
              <label for="type">Type</label>
              <select id="type" class="form-control" name ="type">
                <option value="VideoCall">VideoCall</option>
                <option value="ExternalVisit">ExternalVisit</option>
                <option value="InternalVisit">InternalVisit</option>
                <option value="Expo">Expo</option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
            <label for="attendees">Additional Contact</label>
            <input type="text" id="attendees" class="form-control" name="attendees" placeholder="Marie Schmitt, Bob Vance">    
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <label for="startTime">Start Time:</label>
          <input type="datetime-local" id="startTime" class="form-control" name="startTime" placeholder="YYYY-MM-DD HH:mm:ss">
        </div>
          <div class="form-group">
          <label for="endTime">End Time:</label>
          <input type="datetime-local" id="endTime" class="form-control" name="endTime" placeholder="YYYY-MM-DD HH:mm:ss">
        </div>

        <div class="form-group">
          <label for ="outcome">Outcome</label>
          <select id="outcome" class="form-control" name ="outcome">
            <option value="Negative">Negative</option>
            <option value="Normal">Normal</option>
            <option value="Positive">Positive</option>
            <option value="VeryPositive">Very Positive</option>
          </select>
        </div>
        
        <div class="form-group">
          <label for="notes">Notes</label>
          <textarea rows="5" id="notes" class="form-control" name="notes" maxlength="300">   </textarea>   
        </div>
        <div class="form-group">
          <label for="followUp">Follow Up</label>
          <textarea rows="5" id="followUp" class="form-control" name="followUp" maxlength="300"></textarea> 
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            No Tasks will can be created!
          </div> 
        </div>
        
        <div class="form-group" style="text-align: right;">
          <button class="btn btn-danger btn-sizeing" type="">Cancel</button>
          <button class="btn btn-success btn-sizeing" type="submit">Submit</button>
        </div>

      </form>
    </div>

    <script>
      $("#visitReportForm").on('submit', function(e){
        e.preventDefault();
        const formData = getFormData();
        console.log(formData);
        $.ajax({
          url:"/visit-report/form",
          method: "POST",
          data:formData,
          success: function(response){
            if(response.error == true){
              alert(response.errors);
            }else{
              window.location.href = response.redirectUrl;
            }
          }
        });
      });

      function getFormData(){
        return {
          topic: $("#topic").val(),
          type: $("#type").val(),
          startTime: $("#startTime").val(),
          endTime: $("#endTime").val(),
          outcome: $("#outcome").val(),
          notes: $("#notes").val(),
          followUp: $("#followUp").val(),
          primaryContact: $("#primaryContact").val(),
          attendees: $("#attendees").val()
        }
      }

      const typeSelect = document.getElementById('type');
      function updateTypeSelectClass() {
        typeSelect.classList.remove('type-videocall', 'type-externalvisit', 'type-internalvisit', 'type-expo');

        switch (typeSelect.value) {
          case 'VideoCall':
            typeSelect.classList.add('type-videocall');
            break;
          case 'ExternalVisit':
            typeSelect.classList.add('type-externalvisit');
            break;
          case 'InternalVisit':
            typeSelect.classList.add('type-internalvisit');
            break;
          case 'Expo':
            typeSelect.classList.add('type-expo');
            break;
        }
      }
      updateTypeSelectClass();
      typeSelect.addEventListener('change', updateTypeSelectClass);
      const outcomeSelect = document.getElementById('outcome');
      function updateOutcomeSelectClass(){
        outcomeSelect.classList.remove('outcome-negative','outcome-positive','outcome-neutral','outcome-verypositive');
        switch (outcomeSelect.value) {
            case 'Negative':
              outcomeSelect.classList.add('outcome-negative');
              break;
            case 'Normal':
              outcomeSelect.classList.add('outcome-neutral');
              break;
            case 'Positive':
              outcomeSelect.classList.add('outcome-positive');
              break;
            case 'VeryPositive':
              outcomeSelect.classList.add('outcome-verypositive');
              break;
          }
        }
      updateOutcomeSelectClass();
      outcomeSelect.addEventListener('change', updateOutcomeSelectClass);
    </script>
  </body>
</html>