<!DOCTYPE html>
<html>
  <body>
    <p>This is the Visit Reports page for {{user.username}}.</p>
        <p><a href="/logout">Logout</a></p>
        <hr />
        <p>
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
            </ul>
        </p>
        <hr />
        <p>
          <ul>
            <li><a href="/visit-report/form">New Visit Report</a></li>
          </ul>
        </p>
        <hr />
  </body>
</html>