.main-content {
  padding: 10px 20px;
}

.greeting {
  font-size: xx-large;
  margin-bottom: 5vh;
}

.date-td {
  width: fit-content;
  min-width: max-content;
  max-width: 50vh;
}

.spacer-table {
  margin-bottom: 5vh;
}

.selected-status-inprogress {
  background-color: #ffe9a6;
}

.selected-status-open {
  background-color: #f8c0c0;
}

.selected-status-closed {
  background-color: #c3f7c8;
}
.btn-sizeing {
  width: 100px;
}

.type-videocall {
  background-color: #dbccff;
}
.type-externalvisit {
  background-color: #edd4e9;
}
.type-internalvisit {
  background-color: #fff3cd;
}
.type-expo {
  background-color: #d7f8ee;
}

.outcome-negative {
  background-color: #f8c0c0;
}

.outcome-normal {
  background-color: #ffe9a6;
}

.outcome-positive {
  background-color: #c3f7c8;
}

.outcome-verypositive {
  background-color: #c3f798;
}
